{% extends 'layouts/app.twig' %}

{% block content %}

    <div class="panel panel-default">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-heading">
                    Contact
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('contact') }}" method="post">
                        <div class="form-group">
                            <label for="name"></label>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control">Contact</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
